<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    <debug/>
    <http security="none" pattern="/login"/>
    <http security="none" pattern="/admin"/>
    <http security="none" pattern="/*/register"/>
    <http security="none" pattern="/user/checkDuplicateUser"/>
    <http security="none" pattern="/static/**"/>
    <http security="none" pattern="/**/video/**"/>
    <http auto-config="false" authentication-manager-ref="authenticationManager">
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <!-- 同一时间内允许同一账号保持1个在线,error-if-maximum-exceeded="true"表示第第四个以后的登不进去 -->
<!--        <session-management invalid-session-url="/">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>
        </session-management>-->
        <remember-me key="notoeat" authentication-success-handler-ref="authenticationSuccessHandlerImpl" data-source-ref="dataSource"  user-service-ref="userService"/>
        <csrf disabled="true"/>
        <form-login login-processing-url="/loginAction" login-page="/login" authentication-failure-handler-ref="authenticationFailureHandlerImpl" authentication-success-handler-ref="authenticationSuccessHandlerImpl"/>
        <logout logout-success-url="/login" invalidate-session="true" delete-cookies="JSESSIONID"/>
    </http>

    <authentication-manager id="authenticationManager">
        <!--<authentication-provider>
                    <user-service>
                        <user name="574800193" password="1" authorities="ROLE_USER"/>
                    </user-service>
                </authentication-provider>-->
        <authentication-provider user-service-ref="userService">
            <password-encoder hash="bcrypt" />
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="userService" class="com.notoeat.user.service.UserServiceImpl"/>

    <!-- 认证成功调用  主要实现AuthenticationSuccessHandler这个类的onAuthenticationSuccess方法-->
    <beans:bean id="authenticationSuccessHandlerImpl"
                class="com.notoeat.utils.springsecurity.AuthenticationSuccessHandlerImpl">
    </beans:bean>

    <!--认证失败调用 主要实现AuthenticationFailureHandler类的onAuthenticationFailure-->
    <beans:bean id="authenticationFailureHandlerImpl"
                class="com.notoeat.utils.springsecurity.AuthenticationFailureHandlerImpl">
    </beans:bean>

</beans:beans>